composer.lock
etc/database_settings.inc.php
logs/
vendor
VERSION
*.swp

# mostly temp ignore of my gui link back to old ona interface
www/gui

www/local
!www/local/plugins/README.md
!www/local/plugins/index.php
